api.fibos123.com:80 {
    gzip
    log / stdout "{combined}"
    proxy / http://api:3000 {
        transparent
    }
    header / {
        -Server
    }
}

rpc-mainnet.fibos123.com:80 {
    gzip
    log / stdout "{combined}"
    proxy /v1/producer/create_snapshot http://fibos:9999 {
      transparent
    }
    proxy / http://fibos:8888 {
        transparent
    }
    header / {
        Access-Control-Allow-Headers  "DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization"
        Access-Control-Allow-Origin  *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        -Server
    }
}
